.artist-albums {
    list-style: none;
    padding: 0;
}

.artist-albums li {
    display: flex;
}

.artist-albums li + li {
    border-top: 1px solid #e8e8e8;
    padding-top: 0.5em;
}

.artist-albums img {
    border: 1px solid #e8e8e8;
}

.artist-albums .artwork {
    flex: 1;
    margin-right: 0.25em;
}

.artist-albums .info {
    flex: 9;
    margin-left: 0.25em;
}

.artist-albums .info a {
    display: block;
}

.artist-albums .released-on {
    font-size: 0.8em;
}
