.tracklist tr + tr {
    border-top: 1px solid #e8e8e8;
}

.tracklist td {
    vertical-align: top;
    padding: 0.25em 0.5em;
}

.tracklist .position, .tracklist .duration {
    text-align: right;
    width: 5%;
}

.tracklist .name {
    width: 60%;
}

.tracklist .artist {
    width: 30%;
}
