.monthly-calendar td {
    border: 1px solid #e8e8e8;
    height: 2em;
    text-align: center;
}

.monthly-calendar td.today {
    background: #e8e8e8;
}

.monthly-calendar td.not-in-month {
    color: #d8d8d8;
}
