.name-input {
    display: flex;
    margin-bottom: 0.5em;
}

.name-input .name {
    flex: 5;
    margin-right: 0.25em;
}

.name-input .locale {
    flex: 1;
    margin: 0 0.25em;
}

.name-input .is-original {
    flex: 1;
    text-align: center;
    margin: 0 0.25em;
}

.name-input .is-default {
    flex: 1;
    text-align: center;
    margin-left: 0.25em;
}
