form .names {
    width: 100%;
}

form .names th {
    text-align: left;
}

form .names .name {
    width: 62.5%;
}

form .names .locale {
    width: 12.5%;
}

form .names .is-default {
    text-align: center;
    width: 10%;
}

form .names .is-original {
    text-align: center;
    width: 10%;
}

form .names .actions {
    text-align: center;
    width: 5%;
}
