.recent-albums {
    display: flex;
    list-style: none;
    padding: 0;
}

.recent-albums img {
    border: 1px solid #e8e8e8;
}

.recent-albums li {
    align-self: flex-end;
    flex: 1;
    padding: 0.25em;
    width: 0;
}

.recent-albums .meta, .recent-albums .artist  {
    font-size: 0.8em;
}

.recent-albums .meta .country {
    padding-right: 0.25em;
}

.recent-albums .name > div, .recent-albums .artist > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
