.tracklist td {
    vertical-align: top;
    padding: 0 0.5em;
}

.tracklist .position, .tracklist .duration {
    text-align: right;
    width: 5%;
}

.tracklist .name {
    width: 60%;
}

.tracklist .artist {
    width: 30%;
}
