@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #383838;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: #7cafc2;
  text-decoration: none;
}

a:hover, a:focus {
  color: #ba8baf;
}

img {
  max-width: 100%;
}

#content {
  display: flex;
  margin: 0 auto;
  width: 960px;
}

#content .full {
  flex: 1;
  margin: 0 6px;
}

#content .primary {
  flex: 2;
  margin: 0 6px;
}

#content .secondary {
  flex: 1;
  margin: 0 6px;
}

.hidden {
  display: none;
}

form label {
  display: block;
  font-size: 0.8em;
  margin: 0.5em 0 0.2em;
}

form input[type="text"], form select {
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  display: block;
  font-size: 0.8em;
  padding: 0.25em 0.5em;
  width: 100%;
}

form .group {
  margin-bottom: 0.5em;
}
